{{ define "body_classes" }}page-home{{ end }}

{{ define "main" }}

<div class="intro">

  <div class="container">

    <div class="row justify-content-start align-items-center">

      <div class="col-12 col-md-7 col-lg-6">

        <h1>The Jewelry Business</h1>

        <p>
          Research. Heritage. Craftsmanship.
        </p>

        <p>
          A multilingual archive dedicated to jewelry manufacturing,
          craftsmanship, technology, culture, and historical memory.
        </p>

      </div>

    </div>

  </div>

</div>

{{ end }}

{{ define "footer_js" }}
{{ end }}