{{- $url := replace .Permalink (printf "%s" .Site.BaseURL) "" -}}
{{- $lang := .Language.Lang -}}
{{- $homeName := cond (eq $lang "uk") "Головна" (cond (eq $lang "en") "Home" (cond (eq $lang "pt") "Início" "Главная")) -}}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "{{ $homeName }}",
      "item": "{{ .Site.BaseURL }}{{ $lang }}/"
    }
    {{- $scratch := newScratch -}}
    {{- $scratch.Set "position" 1 -}}
    {{- $path := "" -}}
    {{- range (split $url "/") -}}
      {{- if ne . "" -}}
        {{- if ne . $lang -}}
          {{- $path = printf "%s/%s" $path . -}}
          {{- $scratch.Add "position" 1 -}}
          {{- $pos := $scratch.Get "position" -}}
          ,{
            "@type": "ListItem",
            "position": {{ $pos }},
            "name": "{{ . | humanize }}",
            "item": "{{ $.Site.BaseURL }}{{ $lang }}{{ $path }}/"
          }
        {{- end -}}
      {{- end -}}
    {{- end -}}
  ]
}
</script>
