<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    {{ block "title" . }}
      {{ .Params.meta_title | default (printf "%s - %s" .Title .Site.Title) }}
    {{ end }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ with .Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}

  <link rel="stylesheet" href="/css/style.css?v=2">

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

<div class="wrapper">

<header>

  <div class="logo">

    <a href="{{ .Site.Home.RelPermalink }}">

      {{ if .Site.Params.logo_desktop }}
        <img
          src="{{ .Site.Params.logo_desktop | relURL }}"
          alt="{{ .Site.Title }}">
      {{ else }}
        {{ .Site.Title }}
      {{ end }}

    </a>

  </div>

  <div class="header-right">

    <nav>

      <ul>

        {{ range .Site.Menus.main }}

        <li>
          <a href="{{ .URL | relLangURL }}">
            {{ .Name }}
          </a>
        </li>

        {{ end }}

      </ul>

    </nav>

    <div class="language-switcher">

      <a href="/"
         class="{{ if eq .Site.Language.Lang "en" }}active{{ end }}">
         EN
      </a>

      <a href="/uk/"
         class="{{ if eq .Site.Language.Lang "uk" }}active{{ end }}">
         UA
      </a>

      <a href="/pt/"
         class="{{ if eq .Site.Language.Lang "pt" }}active{{ end }}">
         PT
      </a>

{{/*
      <a href="/ru/"
         class="{{ if eq .Site.Language.Lang "ru" }}active{{ end }}">
         RU
      </a>
*/}}

    </div>

  </div>

</header>

{{ partial "header.html" . }}

<main>
  {{ block "main" . }}{{ end }}
</main>

{{ partial "footer.html" . }}

<footer>

  <div class="footer-left">

    <a href="/">English</a>

    <a href="/uk/">
      Українська
    </a>

    <a href="/pt/">
      Português
    </a>

{{/*
    <a href="/ru/">
      Русский
    </a>
*/}}

  </div>

  <div class="footer-right">

    {{ .Site.Params.footer_copyright }}

  </div>

</footer>

</div>

</body>
</html>