<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>
    {{ block "title" . }}
      {{ .Params.meta_title | default (printf "%s - %s" .Title .Site.Title) }}
    {{ end }}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ with .Params.description }}
  <meta name="description" content="{{ . }}">
  {{ end }}

  <link rel="stylesheet" href="/css/style.css?v=3">

{{ with resources.Get "css/tool-card.css" }}
<link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>

<div class="wrapper">

  {{ partial "header.html" . }}

<div class="wrapper">
  <div class="ad-slot-top">
    <span>Advertisement / Research Archive Partner Area</span>
  </div>
</div>

  <main>

    {{ block "main" . }}{{ end }}

  </main>

{{ partial "ru-unavailable.html" . }}

  {{ partial "footer.html" . }}

</div>

</body>
</html>