{{ if .IsHome }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "The Jewelry Business",
  "alternateName": [
    "Ювелірний Бізнес", 
    "Publishing House Jewelry Business",
    "Jewelry Business Magazine"
  ],
  "url": "https://thejewelry.business",
  "logo": "https://thejewelry.business/images/the-jewelry-business-logo-2026.webp",
  "sameAs": [
    "https://www.instagram.com/thejewelry.business/",
    "https://www.facebook.com/anna.pivtorak.jb.expert/",
    "https://www.wikidata.org/wiki/Q139782018" #УВАГА!номер
  ],
  "founder": {
    "@type": "Person",
    "name": "Анна Півторак",
    "url": "https://pivtorak.studio"
  },
  "description": "Connecting the jewelry business through inspiration and knowledge. Digital hub for manufacturing, luxury, and heritage."
}
</script>
{{ end }}
